<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
<!--Logo-->
<div class="row"
     style="background-color: rgb(2,0,36); background :linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,121,122,1) 42%, rgba(0,212,255,1) 100%) ;">
    <div class="container my-2">
        <div class="row">
            <a href="" class="mr-auto">
                <img src="/images/FPT_Polytechnic.png" width="200" height="100">
            </a>


            <!--người dùng-->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    <i class="fa fa-user mr-3" aria-hidden="true"></i>Site
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/site/logins}"><i class="fa fa-user mr-3"
                                                                          aria-hidden="true"></i> Đăng
                        nhập</a>
                    <a class="dropdown-item" th:href="@{/site/customers/add}"><i class="fa fa-user mr-3"
                                                                                 aria-hidden="true"></i> Đăng
                        ký</a>
                    <a class="dropdown-item" th:href="@{/site/logins/logOut}"><i class="fa fa-power-off mr-3"
                                                                                 aria-hidden="true"></i>Đăng
                        xuất</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <!--giỏ hàng-->
            <div class="giohang">
                <a th:href="@{/site/shoppingCart/list}">
                    <h6 style="color: white;" class="mx-2 mt-3">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </h6>
                </a>
                <div class="sl">
                    99+
                </div>
            </div>
        </div>

    </div>

</div>
<!--Thanh Menu-->
<header class="row" style="background-color: #f8f9fa;">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/site/home/sp}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/site/customers/edit}">Thông tin cá nhân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/site/orders/list}">Danh sách order</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</header>

    <main class="container">
        
        <section class="row">

            <div class="col-6 offset-3  mt-4">


                <form th:action="@{/site/logins/login}" method="post" th:object="${login}">
                    <div class="card">
                        <div class="card-header">
                            <h2>Login Customer Account</h2>
                        </div>
                        <div class="card-body">
                            <div th:if="${message != null}" class="alert alert-primary" role="alert">
                                <i> [[${message}]] </i>
                            </div>
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input type="text" class="form-control" name="username" id="username" th:field="*{email}" aria-describedby="usernameHId" placeholder="Username">
                                <small id="usernameHId" class="form-text text-muted">Email is invalid</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" th:field="*{password}" aria-describedby="passwordHId" placeholder="Password">
                                <small id="passwordHId" class="form-text text-muted">Password is invalid</small>
                            </div>
                        </div>
                        <div class="card-footer text-muted">

                            <button class="btn btn-primary"><i class="fas fa-save "></i>
                                <span >Login</span>

                            </button>
                        </div>

                    </div>

                </form>
            </div>
        </section>
        <footer class="row"></footer>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>